# Node
TZ=UTC
PORT=3333
HOST=0.0.0.0
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie

# CORS
# CORS_ORIGIN=http://localhost:5173,http://localhost:3000

# DATABASE
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=app

# GATEWAYS
GW1_BASE_URL=http://localhost:3001
GW1_EMAIL=dev@betalent.tech
GW1_TOKEN=FEC9BB078BF338F464F96B48089EB498
GW2_BASE_URL=http://localhost:3002