# Node
TZ=UTC
PORT=3333
HOST=0.0.0.0
NODE_ENV=development

# App
LOG_LEVEL=info
SEED_DB=false
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie

# CORS
# CORS_ORIGIN=http://localhost:5173,http://localhost:3000

# DATABASE
DB_CONNECTION=mysql
DB_HOST=0.0.0.0
DB_PORT=3306
DB_USER=gateway_failover
DB_PASSWORD=gateway_failover
DB_DATABASE=gateway_failover

# MYSQL (compat)
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=gateway_failover
MYSQL_PASSWORD=gateway_failover
MYSQL_DB_NAME=gateway_failover

# GATEWAYS
GW1_BASE_URL=http://localhost:3001
GW1_EMAIL=dev@gateway-failover.local
GW1_TOKEN=FEC9BB078BF338F464F96B48089EB498
GW2_BASE_URL=http://localhost:3002
GW2_TOKEN=tk_f2198cc671b5289fa856
GW2_SECRET=3d15e8ed6131446ea7e3456728b1211f
